* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
	background-color: #323639;
}

.container {
	padding: 3rem;
}

.slider-wrapper {
    position: relative;
	margin: 0 auto;
	max-width: 58.125rem;
}

.slider {
	position: relative;
    width: 100%;
    overflow: hidden; 
}

.slides {
	display: flex;
    width: 100%;
    margin-bottom: 1.25rem;
}

.slides input {
    display: none; 
}

.slides img{
    width: 100%;
	height: 37.5rem;
	border-radius: 2rem;
    transition: all 0.65s ease; 
}

.control-panel {
	display: flex;
	justify-items: center;
    align-content: center;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

.caption-list {
	display: flex;
    width: 80%;
	overflow: hidden; 
}

.caption {
	width: 100%;
    color: #FFF;
}


/*---CONTROLS------*/
.dots {
    display: flex;
    justify-content: center;
}

.dots label {
    height: 2rem;
    width: 2rem;
    border-radius: 50%;
    border: solid #5c58cb 0.3rem;
    background-color: #5c58cb;
    cursor: pointer;
    transition: all 0.15s ease;
	margin-right: 1rem;
}

.dots label:last-child {
	margin-right: 0rem;
}

.dots label:hover {background-color: #fff; border: solid #FFF}

.slider :has(#radio-1:checked) + .control-panel .dots .dot1 {
    background-color: transparent;
}

.slider :has(#radio-2:checked) + .control-panel .dots .dot2 {
    background-color: transparent;
}

.slider :has(#radio-3:checked) + .control-panel .dots .dot3 {
    background-color: transparent;
}

.slider :has(#radio-4:checked) + .control-panel .dots .dot4 {
    background-color: transparent;
}

/*scroll logic*/

#radio-1:checked ~ .mem1 {
    margin-left: 0;
}

#radio-2:checked ~ .mem2 {
    margin-left: -100%;
}
#radio-3:checked ~ .mem3 {
    margin-left: -200%;
}
#radio-4:checked ~ .mem4 {
    margin-left: -300%;
}

.slider :has(#radio-1:checked) + .control-panel .caption-list #caption-1 {
    display: contents;
    transform: translatex(0);
}

.slider :has(#radio-1:checked) + .control-panel .caption-list #caption-2, #caption-3 , #caption-4 {
    display: none;
}

.slider :has(#radio-2:checked) + .control-panel .caption-list #caption-2 {
    display: contents;
    transform: translatex(-100%);
}

.slider :has(#radio-2:checked) + .control-panel .caption-list #caption-1, #caption-3 , #caption-4 {
    display: none;
}

.slider :has(#radio-3:checked) + .control-panel .caption-list #caption-3 {
    display: contents;
    transform: translatex(-200%);
 }

 .slider :has(#radio-3:checked) + .control-panel .caption-list #caption-1, #caption-2 , #caption-4 {
    display: none;
}

 .slider :has(#radio-4:checked) + .control-panel .caption-list #caption-4 {
    display: contents;
    transform: translatex(-300%);
 }

 .slider :has(#radio-4:checked) + .control-panel .caption-list #caption-1, #caption-3 , #caption-2 {
    display: none;
}

@media only screen and (max-width: 900px) {
    .slider-wrapper {
        position: relative;
        margin: 0 auto;
        max-width: 31.25rem;
    }

    .slides img{
        width: 100%;
        height: 27.5rem;
        border-radius: 2rem;
        transition: all 0.65s ease; 
    }

    .control-panel {
        display: flex;
        flex-direction: column-reverse;
        flex-wrap: wrap;
        align-items: center;
    }

    .caption-list {
        margin-left: 70%;
    }

    .dots {
        margin-bottom: 1.25rem;
    }
  }